
<div class="contact-bar">
    <div class="text-center"><img class="logo" src="/images/meg-logo.png"/></div>
    <div class="content">
        <div class="header">Contact</div>
        <hr />
        <div>
            <span class="fa fa-map-marker icon"></span>
            <span class="float-left">
                <div>Address</div>
                <div>123 Street</div>
                <div>Rochester Hills, MI</div>
            </span>
        </div>
    </div>
</div>

