
<div class="contact-bar">
    <div class="text-center"><img class="logo" src="/images/meg-logo.png" /></div>
    <div class="content">
        <div class="clearfix">
            <div class="header text-uppercase margin-top-30">Contact</div>
            <hr />
            <div>
                <span class="fa fa-map-marker icon"></span>
                <span class="float-left">
                    <div class="header">Address</div>
                    <div>512 Yorkshire Dr</div>
                    <div>Rochester Hills, MI</div>
                </span>
            </div>
            <div class="float-left margin-top-20">
                <span class="fa fa-phone icon"></span>
                <span class="float-left">
                    <div class="header">Phone</div>
                    586.770.0727
                </span>
            </div>
            <div class="float-left margin-top-20">
                <span class="fa fa-envelope icon"></span>
                <span class="float-left">
                    <div class="header">Email</div>
                    mmayle703@gmail.com
                </span>
            </div> 
        </div>
        
        <div class="clearfix">
            <div class="header text-uppercase margin-top-80">Social</div>
            <hr />
            <div class="float-left margin-top-20">
                <span class="fa fa-twitter icon"></span>
                <span class="float-left">
                    <div class="header">Twitter</div>
                    <a href="https://twitter.com/missmeg703">&commat;missmeg703</a>
                </span>
            </div>
            <div class="float-left margin-top-20">
                <span class="fa fa-linkedin icon"></span>
                <span class="float-left">
                    <div class="header">Linkedin</div>
                    <a href="https://www.linkedin.com/in/megan-mayle-3861b126/">https://bit.ly/2jrhKpl</a>
                </span>
            </div>
        </div>
        
        <div class="clearfix">
            <div class="header text-uppercase margin-top-80">Follow Me</div>
            <hr />
            
        </div>
    </div>
</div>


