
<div class="contact-bar">
    <div class="text-center"><img class="logo" src="/images/meg-logo.png"/></div>
    <div class="content">
        <div class="header">Contact</div>
        <hr/>
        <div>
            <span class="fa fa-map-marker icon"></span>
            <span class="float-left">
                <div>512 Yorkshire Dr</div>
                <div>Rochester Hills, MI</div>
            </span>
        </div>
        <div class="float-left margin-top-20">
            <span class="fa fa-phone icon"></span>
            <span class="float-left">
                586.770.0727
            </span>
        </div>
        <div class="float-left margin-top-20">
            <span class="fa fa-envelope-o icon"></span>
            <span class="float-left">
                mmayle703@gmail.com
            </span>
        </div>

    </div>
</div>

    
