@{
    ViewData["Title"] = "Error";
}

<div class="content margin-top-30 text-center">
    <h2 class="light-purple">Uh Oh Spaghetti-Ohs</h2>
    <h4 class="">An error occurred while processing your request.</h4>
</div>




