body {
/*    padding-top: 50px;*/
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.contact-bar {
    position: fixed;
    width: 20%;
    max-width: 240px;
    height: 100%;
    left: 10px;
    background-color: #DBDBDB;
    z-index: 2000;
}

.logo {    
    padding: 25px 50px;
    max-width: 100%;
}

.header {
    color: #128D93;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-header .header {
    color: #B3B3B3;
}

.contact-bar .content {
    padding: 30px;
    font-size: 14px;
}

.contact-bar .header {
    color: #020202;
    font-size: 14px;
    margin-top: 20px;
}

.contact-bar .icon {
    float: left;
    font-size: 2em;
    margin-top: 10px;
    margin-right: 20px;
}

.contact-bar hr {
    margin-right: -30px;
    border-color: #fff;
}

.body-content .content {
    margin-top: 180px;
    margin-left: 240px;
}

.body-content .content-admin {
    margin-top: 180px;
    margin-bottom: 100px;
}

footer {
    background-color: #5C3584;
    color: white;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 101%;
    margin: 0 -35px;
    padding: 20px 0 20px 262px;
    z-index: 2;
}