@{
    ViewBag.Title = "Post";
    Layout = "_LayoutAdmin";
}   

<div class="text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="dark-purple">Smile, you are amazing.</h3>
        </div>
    </div>
</div>
