@model IList<megan_mayle.ViewModels.PostDisplay>

@{
    ViewBag.Title = "Blog";
    Layout = "_LayoutAdmin";
}
<div class="content-admin">
    <div class="margin-top-30 text-right">
        @Html.ActionLink("New Post", "PostCreate", "Admin", null, new { @class = "btn btn-success" })
    </div>
    <table class="table margin-top-30">
        <tr>
            <th>Title</th>
            <th>Posted</th>
            <th>Author</th>
        </tr>

        @foreach (var item in @Model)
        {
            <tr>
                <td><a asp-action="PostEdit" asp-controller="Admin" asp-route-id="@item.Id">@item.Title</a></td>
                <td>@item.DatePosted.ToString("MMM dd, yyyy")</td>
                <td>Megan Mayle</td>
            </tr>
        }
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        localStorage.clear();
    </script>
}