<div class="content">
    <div class="text-center"><img width="400" src="images/services_social.png" /></div>
    <h2 class="content-header"> Get Noticed </h2>
    <h4 class="content-sub-header text-center">Let the world how great your business is</h4>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center margin-top-30">
                Megan Mayle consulting helps you tell the world just how great you are. From social media account set ups and tutorials to weekly content creation,
                find out how we can help you tell your story.
            </div>
        </div>
    </div>
</div>

