<div class="content">
    <h2 class="content-header"> You are great </h2>
    <h4 class="content-sub-header">Let the world know</h4>
    <p class="text-center margin-top-30">This is text about meg and her company.</p>
</div>

