@{
    ViewData["Title"] = "About";
}
<div class="content">
    <div class="content-inside">
        <h2 class="content-header text-left">Portfolio</h2>
        <p class="margin-top-20">This is my protfilio.</p>
    </div>
</div>
