@{
    ViewData["Title"] = "About";
}
<div class="content">
    <div class="content-inside">
        <h2 class="header">Meet Megan</h2>

        <p class="margin-top-20">
            <img class="float-left margin-right-20" src="../images/megs.png" />
            <span>
                Megan is a Social Media Strategist in the Metro Detroit Area. She has a varied background with marketing
                experience in retail, healthcare and the financial sector. She is currently pursuing a Masters in Business Administration from Walsh
                College in Troy, Michigan. In the beginning of 2016, Megan combined her past marketing experiences with her business school learnings
                and started her own consulting company: Megan Mayle Consulting.
            </span>
        </p>

        <h2 class="header clearfix margin-top-80">Social Media Services</h2>

        <div class="margin-top-20">
            <img class="float-right margin-right-20" src="../images/social.png" width="300" />
            <h4 class="content-sub-header light-purple">Social Media Setup</h4>
            <ul>
                <li>Audit of any existing channels</li>
                <li>Optimization of existing channels</li>
                <li>Setup of new channels </li>
                <li>Aggregate channels into Hootsuite account</li>
                <li>Social Media Channel 101 Tutorial: 1 page '101' style tutorial for each platform including Hootsuite</li>
            </ul>

            <h4 class="content-sub-header margin-top-30 light-purple">Monthly Content Creation</h4>
            <ul>
                <li>Creating 0riginal content i.e. blogs, branded posts, engagement posts</li>
                <li>Curated content (interesting content related to promotions industry). Fee includes content creation and automated scheduling through Hootsuite</li>
            </ul>

            <h4 class="content-sub-header margin-top-30 light-purple">Community Management</h4>
            <ul>
                <li>Monitoring all channels, interacting with community</li>
                <li>Live management (Facebook LIVE, Instagram stories, Snapchat etc)</li>
            </ul>
        </div>

        <div class="margin-top-30 bold font-size-12">
            Fees by Consultation. Contact me at mmayle703@gmail.com for more information.
        </div>
    </div>
</div>

