body {
    font-family:  "Lato", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #4A4A4A;
    padding-bottom: 80px;
}


footer {
    background-color: #5C3584;
    color: white;
    font-size: 14px;
    position: fixed;
    margin: 0;
    margin-top: 60px;
    bottom: 0;
    width: 101%;
    padding: 20px 0 20px 23%;
    z-index: 2;
}

.navbar-inverse {
    border: none;
    padding-left: 23%;
    background-image: url("../images/header.png");
    background-size: 100%;
}

.navbar-inverse.navbar-admin {
    padding-left: 0;
}

.navbar-header {    
    float: none;
    padding: 35px 0 0;
}

.navbar-inverse .navbar-brand {
    color: #DBDBDB;
    text-transform: uppercase;
    font-size: 40px;
    float: none;
    margin-left: -15px;
}

.navbar-inverse .navbar-brand:hover {
    color: #e1aeeb;
}

.navbar-inverse .navbar-nav>li>a {
    color: #DBDBDB;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #e1aeeb;
}

.navbar-collapse.collapse {
    margin-left: -15px;
    margin-top: 20px;
}

.btn {
    padding: 10px 39px;
    border-radius: 8px;
    text-transform: uppercase;
}

.btn-success {
    background-color: #9E75C9;
    border-color: #5C3584;
}

.btn-success:hover {
    background-color: #e1aeeb;
    border-color: #5C3584;
}

.navbar-collapse {
    padding-left: 0;
}

ul {
    list-style-type: circle;
}