body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.contact-bar {
    position: fixed;
    width: 20%;
    max-width: 240px;
    height: 100%;
    left: 10px;
    top: 0;
    background-color: #DBDBDB;
    z-index: 2000;
}

.logo {    
    padding: 25px 50px;
    max-width: 100%;
}

.header {
    color: #128D93;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-header .header {
    color: #B3B3B3;
}

.contact-bar .content {
    padding: 25px;
    font-size: 14px;
}

.contact-bar .header {
    color: #020202;
    font-size: 14px;
    margin-top: 20px;
}

.contact-bar .icon {
    float: left;
    font-size: 1.5em;
    margin-right: 10px;
}

.contact-bar hr {
    margin-right: -30px;
    border-color: #fff;
}

.body-content .content {
    margin-left: 23%;
}

.body-content.content-admin {
    margin-bottom: 100px;
}


.content-header {
    text-align: center;
    text-transform: uppercase;
    color: #5c3584;
    margin-bottom: 0;
}

.content-sub-header {
    text-align: center;
    color: #020202;
    margin-top: 0;
}


