/*128D93 dark teal*/
/*55B2B6 light teal*/
/*020202 black*/
/*B3B3B3 dark gray*/
/*DBDBDB light gray*/
/*9E75C9 light purple*/
/*5C3584 dark purple*/

.bold {
    font-weight: 500;
}

.dark-teal {
    color: #128D93;
}

.light-teal {
    color: #55B2B6;
}

.black {
    color: #020202;
}

.dark-gray {
    color: #B3B3B3;
}

.light-gray {
    color: #DBDBDB;
}

.dark-purple {
    color: #5C3584;
}

.light-purple {
    color: #9E75C9;
}

.very-light-purple {
    color: #e1aeeb;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-20 {
    margin-top: 20px;
}
.text-left {
    text-align: left;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.font-size-12 {
    font-size: 12px;
}